/* Contenedor principal */
.container-header {
  width: 100%; /* ancho */
  max-width: 480px; /* ancho maximo */
  height: 100%; /* altura */
  max-height: 674px; /* altura maxima */
  border: 1px solid rgba(255, 255, 255, 0.2); /* bordes */
  border-radius: 3px; /* bordes y radio */
  margin-left: 8px; /* margen */
  position: relative; /* posicion */
  top: 0; /* no hay desplazamiento hacia abajo */
  left: 0; /* no hay desplazamiento a la izquierda*/
  -webkit-box-shadow: -16px -16px 5px 0px rgba(251,176,59,0.2); /* sombra caja webkit */
  -moz-box-shadow: -16px -16px 5px 0px rgba(251,176,59,0.2); /* sombra caja mozilla */ 
  box-shadow: -16px -16px 5px 0px rgba(251,176,59,0.2); /* sombra caja estandar */
}

/* Estilo para la imagen de fondo de la portada */
.bg-img {
  width: 100%; /* ancho */
  height: 50%; /* altura */
  background-image: url(../assets/img/001.webp); /* imagen */
  background-size: cover; /* imagen cubre todo el contenedor */
  background-position: center; /* imagen centrada */
}

/* Estilo para el contenedor de imagen de portada */
.picture-bg {
  width: 100%; /* ancho */
  height: 100%;/* altura */
} 

/* Clase para el contenedor principal de la imagen */
.pictureMe {
  width: 100%; /* ancho */
  height: 50%; /* altura */
  text-align: center; /* centra el contenido horizontalmente */
  background-color: var(--color-bg); /* color de fondo */
  transition: 0.3s ease all; /* transicion suave de 0.3s */
}

/* Clase para el elemento de la imagen */
.me {
  height: 80%; /* ancho */
  display: block; /* se comporta como elemento bloque */
  position: relative; /* establece un contexto de posicion para los elementos */
}

/* Pseudo-elemento ::after para agregar un decorado detras del elemento .me */
.me::after {
  content: " "; /* crea un elemento vacio */
  display: block; /* elemento de bloque */
  position: absolute; /* posiciona el elemento de forma absoluta */
  width: 100%; /* ocupa el 100% del ancho */
  height: 20%; /* ocupa el 20% del alto*/
  bottom: 95%; /* posiciona el 95% desde la parte inferior */
  left: 0; /* alinea al borde izquierdo */
  background-color: var(--color-bg); /* establece color de fondo */
  z-index: 0; /* coloca el elemento detras */
  clip-path: polygon(50% 80%, 100% 0, 100% 80%, 50% 80%, 0 80%, 0 0); /* corta los elementos */
  transition: 0.3s ease all; /* transicion */
}
.name-me {
  width: 100%;
  height: auto;
  font-size: 28px;
  color: #eeeeee;
  line-height: 32px;
  font-weight: 400;
  margin-top: 20px;
}
.me .ocupation {
  width: 100%;
  height: auto;
  font-size: 16px;
  color: var(--color-primary);
  font-weight: 100;
  margin: 1rem auto;
  position: relative;
}
.me .social-media {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 1rem;
}
.me .social-media img {
  width: 5%;
  height: 5%;
  margin-left: 15px;
  border: none;
  color: #eeeeee;

}

.pictureMe .me img {
  width: 130px;
  height: 130px;
  border-radius: 25%;
  object-fit: cover;
  margin-top: -70px;
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 30%);
  -moz-box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 30%);
  box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 30%);
  overflow: hidden;
  cursor: pointer;
  background-color: #000;
  border: 0.2px solid var(--color-primary);
  transition: trasform 0.3s ease;
}

.pictureMe .me img:hover {
  transform: scale(1.6);
}

/*modal*/
body,
.modal {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#btn-modal:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}
.contenedor {
  width: 100%;
  height: 100%;
  margin: auto;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
  overflow: hidden;
}
#btn-modal:checked ~ .modal .contenedor {
  transform: translateY(0%);
}
.contenedor header {
  padding: 10px;
  background: var(--color-primary);
  color: #fff;
}
.contenedor label {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.contenido {
  width: 100%;
  padding: 10px;
}
.contenido h3 {
  margin-bottom: 10px;
}
.contenido p {
  margin-bottom: 7px;
}
#btn-modal {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .contenedor {
    width: 100%;
  }
}

/*modal*/
.me .social-media .fab {
  font-size: 2rem;
  color: #eeeeee;
  margin-left: 20px;
}

/******************************** Footer -header**********************************/
.footer-header {
  width: 100%;
  height: 20%;
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--color-line);
  transition: 0.3s ease all;
}

.download,
.contact-me {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.download {
  border-right: 1px solid var(--color-line);
}
.cvdownload,
.contactme {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}
.cvdownload:hover > .submenu {
  opacity: 1;
  visibility: visible;
  display: block;
}
.cvdownload .submenu .menuLink {
  width: 100%;
  display: block;
  color: #eeeeee;
  text-decoration: none;
  font-size: 1.3rem;
}
.cvdownload a {
  width: 50%;
  color: #eeeeee;
  text-decoration: none;
  font-size: 1.3rem;
  flex: initial;
}
.cvdownload i {
  display: block;
  width: 20%;
  color: #eeeeee;
  font-size: 1.5rem;
}
.contactme a {
  width: 50%;
  color: #eeeeee;
  text-decoration: none;
  font-size: 1.3rem;
  flex: initial;
}
.contactme i {
  display: block;
  width: 20%;
  color: #eeeeee;
  font-size: 1.5rem;
  padding-left: 1.3rem;
}
/*media queri*/
@media screen and (max-width: 768px) {
  .cvdownload,
  .contactme {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 450px) {
  .cvdownload,
  .contactme {
    width: 100%;
  }

  .cvdownload a {
    width: 60%;
  }

  .contactme i {
    padding-left: 0;
    padding-right: 0.8rem;
  }
}